* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #333333;
    text-align: center;
}

#wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    
}

label, p {
    font-size: 24px;
}

#slideshow-container {
    visibility: hidden;
    align-content: center;
}

.btn {
    margin-top: 15px;
    font-size: 32px;
    padding: 5px 25px;
    background-color: #333333;
    color: #fff;
    border: 1px solid #fff;
}

#search-form {
    padding: 20px;
}

#query {
    color: #fff;
    text-align: center;
    font-size: 60px;
    height: 100px;
    background-color: #333333;
    caret-color: #fff;
    border-style: none;
    border-bottom: 1px solid #fff;
    
}

textarea:focus, input:focus {
    outline: none;
}

#result img {
    height: 350px;
    width: auto;
}